nav.bg-dark {
    background-color: #222f3e !important;
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #d2d2d2;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    font-size: small !important;
}