.jumbotron {
    background: cadetblue;
    color: #fff;
}

.search-bar {
    padding: 15px;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: #fff;
   
    &::placeholder { 
        color: #4d4d4d;
        opacity: 1; 
    }
}
  
.search-btn {
    font-weight: 700;
    padding: 5px 16px;
}

.result{

    &-message {
        color: #dedede;
        text-align: center;
        padding-top: 150px;
    }
    
    &-card-body {
        min-height: 500px;
    }
}

.keyword-text {
    font-size: 1.5rem;
    font-weight: 700;
}

.category-text {
    font-weight: 600;
    text-transform: uppercase;
    color: #ffa71f;
}

.definition-text {
    font-size: 1rem;
    opacity: 0.5;
    font-weight: bold;
}
